*{
  box-sizing: border-box;
  margin:0;
  padding: 0;
}

a{
  display: inline-block;
  text-decoration: none;
  color:inherit;
  position: relative;
}

ol{
  list-style: none;
}

section{
  margin: 0px auto;
  padding: 100px 0px;
  width: 100%;
}

h1,h2,h3,h4,h5,h6{
  font-weight: 600;
  line-height: 1.1;
  color:#ccd6f6;
}

body{
  background-color: #0a192f;
  color: #8892b0;
  overflow-x: hidden;
}

body.blur{
  overflow: hidden;
}
body::-webkit-scrollbar{
  -webkit-appearance: none;
}

body::-webkit-scrollbar:vertical{
  width:7px;
}

body::-webkit-scrollbar-thumb{
   border-radius: 20px;
   background-color: #8892B0;
   border: 2px solid #64FFDA;
}

body::-webkit-scrollbar-track{
  border-radius: 20px;
  background-color: #8892B0;
}

.contenedor{
  width: 100vw;
  margin: auto;
  display: grid;
  grid-auto-rows: 1fr auto;
  grid-template-columns: 100%;
}

.flex{
  display:flex;
  flex-direction: column;
}

.encabezado{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0px;
  z-index: 11;
  padding: 0px 50px;
  width: 100%;
  height: 15.89825119236884vh;
  background-color:  rgba(10, 25, 47, 0.85);
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  color: #ccd6f6;
  font-family: monospace;
  z-index: 12;
}

.navbar .logo{
  display: flex;
  justify-content: center;
  align-items:
}

.navbar .logo a{
  width: 50px;
  height: 50px;
}

.navbar .logo a img{
  width: 100%;
  height: 100%;
}

.links{
  display: flex;
  align-items: center;
}

.links ol{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  margin: 0px;
}

.links ol li{
  margin: 0px 5px;
  font-size: 13px;
  counter-increment: item 1;
}

.links ol li a::before{
  content: "0" counter(item) ".";
  margin-right: 5px;
  font-size: 12px;
  color: #64FFDA;
}

.links ol li a{
  padding: 10px;
}

.links ol li a:hover{
  color: #64ffda;
  transition: all 0.2s ease-in-out;
}

.boton{
  color:#64ffda;
  background-color: transparent;
  border:  1px solid #64ffda;
  border-radius: 4px;
  padding:  0.75rem 1rem;
  font-family: monospace;
  line-height: 1;
  text-decoration: none;
  cursor: pointer;
  margin-left: 15px;
  font-size: 13px;
}

.boton:hover {
  background-color: rgba(100,255,218,0.1);
  color:#64ffda;
  transition: all 0.2s ease-in-out;
}

.menu .abrir-menu .rodeador{
  display: inline-block;
  position: relative;
  width: 30px;
  height: 24px;
}

.menu .abrir-menu .lineas{
  position: absolute;
  top: 50%;
  right: 0px;
  width: 30px;
  height: 2px;
  border-radius: 4px;
  background-color: #64ffda;
  transition: transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0s;
}

.menu .abrir-menu .lineas::before{
  width: 120%;
  top:-10px;
  opacity: 1;
}

.menu .abrir-menu .lineas::after{
  width: 80%;
  bottom:-10px;
  opacity: 1;
}

.menu .abrir-menu .lineas::before,
.menu .abrir-menu .lineas::after{
  content: "";
  display: block;
  position: absolute;
  left: auto;
  right: 0px;
  height: 2px;
  border-radius: 4px;
  background-color: #64ffda;
}

.abrir-menu{
  background-color: transparent;
  border:none;
  color:#64ffda;
  padding: 15px;;
  line-height: 1;
  cursor: pointer;
  z-index: 10;
}

.menu-cruz .rodeador{
  display: inline-block;
  position: relative;
  width: 30px;
  height: 24px;
}

.menu-cruz .lineas{
  position: absolute;
  top: 50%;
  right: 0px;
  width:30px;
  height: 2px;
  border-radius: 4px;
  background-color: #64ffda;
  transform: rotate(225deg);
  transition: transform 0.22s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
}

.menu .menu-cruz .lineas::before{
  width: 100%;
  top: 0px;
  opacity: 0;
}

.menu .menu-cruz .lineas::after{
  width: 100%;
  bottom: 0px;
  transform: rotate(-90deg);
}

.menu .menu-cruz .lineas::before,
.menu .menu-cruz .lineas::after{
  content: "";
  display: block;
  position: absolute;
  left: auto;
  right: 0px;
  height: 2px;
  border-radius: 4px;
  background-color: #64ffda;
}

.menu-desplegable-cerrado nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-direction: column;
  color:#ccd6f6;
  font-family: monospace;
  text-align: center;
}

.menu-desplegable-cerrado ol{
  padding: 0px;
  margin: 0px;
  list-style: none;
  width: 100%;
}

.menu-desplegable-cerrado ol li{
  margin: 0px auto 20px;
  position:relative;
  counter-increment: item 1;
  font-size: 16px;
}

.menu-desplegable-cerrado ol li::before{
  content: "0" counter(item) ".";
  display: block;
  margin-bottom: 5px;
  color: #64ffda;
}

.menu-desplegable-cerrado .boton{
  padding: 18px 50px;
  margin: 10% auto 0px;
}

.menu-desplegable-abierto nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-direction: column;
  color:#ccd6f6;
  font-family: monospace;
  text-align: center;
}

.menu-desplegable-abierto ol{
  padding: 0px;
  margin: 0px;
  list-style: none;
  width: 100%;
}

.menu-desplegable-abierto ol li{
  margin: 0px auto 20px;
  position:relative;
  counter-increment: item 1;
  font-size: 16px;
}

.menu-desplegable-abierto ol li::before{
  content: "0" counter(item) ".";
  display: block;
  margin-bottom: 5px;
  color: #64ffda;
}

.menu-desplegable-abierto .boton{
  padding: 18px 50px;
  margin: 10% auto 0px;
}

.menu{
    display: none;
}

.barra-redes{
  width:2.9411764705882355vw;
  position: fixed;
  bottom: 0px;
  left: 40px;
  right: auto;
  z-index: 10;
  color: #a8b2d1;
}

.iconos{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px;
  padding: 0px;
  list-style: none;
  transition: all 1s ease-in-out;
}

.iconos li a{
  padding: 10px;
}

.iconos li a i{
  font-size: 22px;
}

.iconos .desplazar{
  margin-bottom: 20px;
}

.iconos::after{
  content: "";
  display: block;
  width: 1px;
  height: 90px;
  margin: 0px auto;
  background-color: #a8b2d1;
}

.mail{
  width: 40px;
  position: fixed;
  bottom: 0px;
  left: auto;
  right: 40px;
  z-index: 10;
  color:#a8b2d1;
}

.correo{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.correo a{
  margin: 20px auto;
  padding: 10px;
  font-family: monospace;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.1rem;
  writing-mode:vertical-rl;
}

.mail::after{
  content: "";
  display: block;
  width: 1px;
  height: 90px;
  margin: 0px auto;
  background-color: #A8B2D1;
}

.iconos li a:hover,
.mail .correo a:hover{
  transition: all 1s ease-in-out;
  position: relative;
  top: -2px;
  color:#64FFDA;
}

main{
  margin: 0px auto;
  width: 100%;
  padding: 0px 150px;
  counter-reset: sention 1;
}

#inicio{
  display:flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

#inicio h1{
  margin: 0px 0px 30px 4px;
  color: #64ffda;
  font-family: monospace;
  font-size: 16px;
  margin-top: 50px;
}

#inicio h3{
  color: #8892B0;
}

#inicio p{
  margin: 20px 0px 0px;
}

#inicio p span{
  font-size: 18px;
  color:#64ffda;
}

.numeracion{
  font-size: 32px;
  display: flex;
  align-items:center;
  position: relative;
  margin:10px 0px 40px;
  width: 100%;
  white-space: nowrap;
}

.numeracion::before{
  position: relative;
  top: 3px;
  counter-increment: section 1;
  content: "0" counter(section) ".";
  margin-right: 5px;
  font-weight: 400;
  font-family: monospace;
  color: #64FFDA;
  font-size: 32px;
}

.numeracion::after{
  content: "";
  display: block;
  position: relative;
  top: 5px;
  width: 100%;
  height: 1px;
  margin-left: 15px;
  background-color: #233554;
}

#acerca-de-mi{
  width: 100%;
}

.informacion{
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap:50px;
}

.lista{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 0px 10px;
  padding: 0px;
  margin: 20px 0px 0px;
  list-style: none;
}

.texto ul.lista li::before{
  content: "▹";
  line-height: 12px;
  color: #64FFDA;
}

.sub-acomodador{
  position: relative;
  width:  300px;
}

.marco{
  display: block;
  position: relative;
  width: inherit;
  box-shadow: 0 10px 30px -15px rgba(2,12,27, 0.7);
  background-color: #65ffda;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
}

.foto{
  position: relative;
  border-radius: 4px;
  mix-blend-mode: multiply;
  filter: grayscale(100%) contrast(1);
  width: inherit;
  vertical-align: middle;
  text-align: center;
  transition: all 0.2s ease-in-out;
}

.foto img{
  width: inherit;
  height: inherit;
  border-radius: 4px;
}

.sub-acomodador .marco::before,
.sub-acomodador .marco::after{
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
}

.sub-acomodador .marco::before{
  top: 0px;
  left: 0px;
  background-color: #0a192f;
  mix-blend-mode: screen;
  border-radius: 4px;
}

.sub-acomodador .marco::after{
  border: 2px solid #64FFDA;
  top: 20px;
  left: 20px;
  z-index: -1;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
}

.sub-acomodador .marco:hover::after{
  top: 15px;
  left: 15px;
  transition: all 0.2s ease-in-out;
}

.foto:hover{
  mix-blend-mode:normal;
  filter: none;
  background-color: transparent;
  transition: all 0.2s ease-in-out;
}

#portafolio{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  counter-increment: section 1;
}

#portafolio .lista-proyectos{
  list-style: none;
  padding: 0px;
  margin: 50px 0px 0px;
  display: grid;
  grid-template-columns: repeat(3,minmax(300px,1fr));
  gap:40px;
  position:relative;
}

.igual{
  position: relative;
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.agrupador{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  height: 100%;
  padding: 2rem 1.75rem;
  border-radius: 4px;
  background-color: #112240;
}

.superior{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 35px;
  text-decoration: none;
  color:#64ffda;
}

.superior .carpeta i{
  font-size: 35px;
}

.titulo{
  margin:0px 0px 10px;
  color:#ccd6f6;
  font-size: 22px;
}

.parrafo{
  color:#a8b2d1;
  font-size: 17px;
}

.igual .lista-contenido{
  display: flex;
  align-items: flex-end;
  flex-grow: 1;
  flex-wrap: wrap;
  padding: 0px;
  margin: 10px 0px 0px;
  list-style: none;
  color:#8292b0;
}

.igual .lista-contenido li{
  font-size: 12px;
  line-height: 1.75;
  font-family: monospace;
  margin-right: 15px;
}

.igual:hover{
  position: relative;
  top: -10px;
  transition: all .3s ease-in-out;
}

.igual:hover .titulo,
.igual:hover .parrafo span{
  color:#64ffda;
  transition: all .3s ease-in-out;
}

#contacto{
  width: 100%;
  margin: 0px auto 100px;
  text-align: center;
}

.final{
  display: block;
  margin-bottom: 20px;
  color: #64ffda;
  font-family: monospace;
  font-size: 16px;
  font-weight: 400;
}

.titulo-final{
  font-size: 55px;
}

.final::before{
  top: 0px;
  font-size: 16px;
}

#contacto .boton{
  margin-top: 50px;
  padding: 1.25rem 1.75rem;
}

@media (max-width: 768px) {
  .links,
  .barra-redes,
  .mail{
    display: none;
  }
  .encabezado{
    padding: 0px;
  }
  .logo{
    position: relative;
    left: 10px;
  }

  .abrir-menu{
    position: relative;
    right: 0px;
  }
  .menu{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 10;
    margin-right: -15px;
    padding: 15px;
    border: 0px;
    background-color: transparent;
    color: inherit;
    text-transform: none;
    transition-timing-function: linear;
    transition: transform .5s ease-in-out;
  }

  .menu-cruz{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 10;
    padding: 15px;
    border: 0px;
    background-color: transparent;
    color: inherit;
    text-transform: none;
    transition-timing-function: linear;
    transition: transform .5s ease-in-out;
  }

  .menu-desplegable-cerrado{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0px;
    bottom: 0px;
    right: 0px;
    padding: 50px 10px;
    width: 75vw;
    height: 100vh;
    outline: 0px;
    background-color: #112240;
    box-shadow: -10px 0px 30px -15px rgba(2, 12, 27, 0.7);
    z-index: 9;
    transform: translateX(100vw);
    visibility: hidden;
    transition: all .5s ease-in-out;
  }

  .menu-desplegable-abierto{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0px;
    bottom: 0px;
    right: 0px;
    padding: 50px 10px;
    width: 75vw;
    height: 100vh;
    outline: 0px;
    background-color: #112240;
    box-shadow: -10px 0px 30px -15px rgba(2, 12, 27, 0.7);
    z-index: 9;
    transform: translateX(0vw);
    visibility: visible;
    transition: all .5s ease-in-out;
  }

  body.blur .contenido{
    filter: blur(5px)brightness(0.7);
    pointer-events: none;
    user-select: none;
  }

  .informacion{
  grid-template-columns: repeat(1,1fr);
  }
  .numeracion::after{
    content: "";
    display: none;
  }
  #portafolio .lista-proyectos{
    grid-template-columns: repeat(1,minmax(300px,1fr));
  }
  main{
    width: 100%;
    padding: 0px 25px;
  }
  .navbar .logo a img,
  .navbar .logo a{
    width: 40px;
    height: 40px;
  }
  .sub-acomodador,
  .marco,
  .foto,
  .foto img{
    width: 189px;
  }
  .sub-acomodador{
    position: relative;
    left: 10%;
  }
}

@media screen and (max-with:960px) and (orientation: landscape){
  .menu{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 10;
    margin-right: -15px;
    padding: 15px;
    border: 0px;
    background-color: transparent;
    color: inherit;
    text-transform: none;
    transition-timing-function: linear;
    transition: transform .5s ease-in-out;
  }

  .menu-cruz{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 10;
    padding: 15px;
    border: 0px;
    background-color: transparent;
    color: inherit;
    text-transform: none;
    transition-timing-function: linear;
    transition: transform .5s ease-in-out;
  }

  .menu-desplegable-cerrado{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0px;
    bottom: 0px;
    right: 0px;
    padding: 25px 10px;
    width: 75vw;
    height: 100vh;
    outline: 0px;
    background-color: #112240;
    box-shadow: -10px 0px 30px -15px rgba(2, 12, 27, 0.7);
    z-index: 9;
    transform: translateX(100vw);
    visibility: hidden;
    transition: all .5s ease-in-out;
  }

  .menu-desplegable-abierto{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0px;
    bottom: 0px;
    right: 0px;
    padding: 25px 10px;
    width: 75vw;
    height: 100vh;
    outline: 0px;
    background-color: #112240;
    box-shadow: -10px 0px 30px -15px rgba(2, 12, 27, 0.7);
    z-index: 9;
    transform: translateX(0vw);
    visibility: visible;
    transition: all .5s ease-in-out;
  }

  body.blur .contenido{
    filter: blur(5px)brightness(0.7);
    pointer-events: none;
    user-select: none;
  }
  .menu-desplegable-abierto ol li{
    margin: 0px;
  }
  .menu-desplegable-cerrado ol li{
    margin: 0px;
  }
}

@media (min-width:375px) {
  .sub-acomodador,
  .marco,
  .foto,
  .foto img{
    width: 200px;
  }
  .sub-acomodador{
    position: relative;
    left: 14.5%;
  }
}

@media (min-width:425px) {
  .sub-acomodador,
  .marco,
  .foto,
  .foto img{
    width: 211px;
  }
  .sub-acomodador{
    position: relative;
    left: 18.59%;
  }
}

@media (min-width:769px) and (max-width:1024px) {
  .sub-acomodador,
  .marco,
  .foto,
  .foto img{
    width: 220px;
  }
  .navbar .logo a img,
  .navbar .logo a{
    width: 40px;
    height: 40px;
  }
  .encabezado{
    padding: 0px;
  }
  .sub-acomodador{
    position: relative;
    left: 32.09%;
  }
  main{
    width: 100%;
    padding: 0px 25px;
  }
  #portafolio .lista-proyectos{
    grid-template-columns: repeat(1,minmax(300px,1fr));
  }
  .links,
  .barra-redes,
  .mail{
    display: none;
  }
  .logo{
    position: relative;
    left: 10px;
  }

  .abrir-menu{
    position: relative;
    right: 0px;
  }
  .menu{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 10;
    margin-right: -15px;
    padding: 15px;
    border: 0px;
    background-color: transparent;
    color: inherit;
    text-transform: none;
    transition-timing-function: linear;
    transition: transform .5s ease-in-out;
  }

  .menu-cruz{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 10;
    padding: 15px;
    border: 0px;
    background-color: transparent;
    color: inherit;
    text-transform: none;
    transition-timing-function: linear;
    transition: transform .5s ease-in-out;
  }

  .menu-desplegable-cerrado{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0px;
    bottom: 0px;
    right: 0px;
    padding: 50px 10px;
    width: 75vw;
    height: 100vh;
    outline: 0px;
    background-color: #112240;
    box-shadow: -10px 0px 30px -15px rgba(2, 12, 27, 0.7);
    z-index: 9;
    transform: translateX(100vw);
    visibility: hidden;
    transition: all .5s ease-in-out;
  }

  .menu-desplegable-abierto{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0px;
    bottom: 0px;
    right: 0px;
    padding: 50px 10px;
    width: 75vw;
    height: 100vh;
    outline: 0px;
    background-color: #112240;
    box-shadow: -10px 0px 30px -15px rgba(2, 12, 27, 0.7);
    z-index: 9;
    transform: translateX(0vw);
    visibility: visible;
    transition: all .5s ease-in-out;
  }

  body.blur .contenido{
    filter: blur(5px)brightness(0.7);
    pointer-events: none;
    user-select: none;
  }
  .informacion{
  grid-template-columns: repeat(1,1fr);
  }
  .numeracion::after{
    content: "";
    display: none;
  }

}

@media (min-width:1024px) {
  #portafolio .lista-proyectos{
    grid-template-columns: repeat(1,minmax(264px,1fr));
  }
  .informacion{
    grid-template-columns: 3fr 2fr;
  }
}
@media (min-width:1360px) {
  #portafolio .lista-proyectos{
    grid-template-columns: repeat(3,minmax(300px,1fr));
  }
}
