*{
  box-sizing: border-box;
  margin:0;
  padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400&display=swap');

body{
  color: #ffffff;
  background-color: #804000;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='152' height='152' viewBox='0 0 152 152'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='temple' fill='%23eed09d' fill-opacity='0.4'%3E%3Cpath d='M152 150v2H0v-2h28v-8H8v-20H0v-2h8V80h42v20h20v42H30v8h90v-8H80v-42h20V80h42v40h8V30h-8v40h-42V50H80V8h40V0h2v8h20v20h8V0h2v150zm-2 0v-28h-8v20h-20v8h28zM82 30v18h18V30H82zm20 18h20v20h18V30h-20V10H82v18h20v20zm0 2v18h18V50h-18zm20-22h18V10h-18v18zm-54 92v-18H50v18h18zm-20-18H28V82H10v38h20v20h38v-18H48v-20zm0-2V82H30v18h18zm-20 22H10v18h18v-18zm54 0v18h38v-20h20V82h-18v20h-20v20H82zm18-20H82v18h18v-18zm2-2h18V82h-18v18zm20 40v-18h18v18h-18zM30 0h-2v8H8v20H0v2h8v40h42V50h20V8H30V0zm20 48h18V30H50v18zm18-20H48v20H28v20H10V30h20V10h38v18zM30 50h18v18H30V50zm-2-40H10v18h18V10z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
font-size: 1rem;
font-family: 'Oswald', sans-serif;
}

a{
  color:#ffffff;
  text-decoration: none;
}

ul{
  list-style: none;
}

.contenedor{
  width:90vw;
  margin: auto;
}

/* Estilos generales del Navegador*/

.nav{
  font-size: 1.063em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9.132420091324201vh;
  padding: 3.0441400304414vh 0;
}

.logo {
  width: 3.676470588235294vw;
}

/* Estilo del Nav-central*/

.nav ul{
  display:flex;
}

.nav ul li{
  padding:0.7352941176470589vw;
}
.nav ul li a{
  padding: 0.91324200913242vh;
}
.nav ul li a:hover{
  border-bottom: 0.30441400304414vh solid #ffffff;
}

.nav ul.nav-links-center{
  flex: 1;
  margin-left: 1.4705882352941178vw;
}

.abrir-menu{
  position: absolute;
  cursor: pointer;
  top:2.2831050228310503vh;
  right: 2.2058823529411766vw;
  z-index: 2;
  font-size: 1rem;;
}

/* principal */

hr{
  margin: 1.5220700152207vh 0;
}
.principal{
  transition:all .5s ease-in-out;
  width: 100%;
  background: url("imagenes/principal5.jpeg") no-repeat center center/cover;
  height: 83.71385083713851vh;
  padding:7.610350076103501vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  border-radius: 30vh;
  margin-bottom: 3.0441400304414vh;
}

.principal:hover{
  transition:all .5s ease-in-out;
  filter: sepia(60%);
}

.principal p{
  text-align: center;
}

.boton{
  cursor: pointer;
  display: inline-block;
  border: 0;
  font-weight: bold;
  padding: 1.5220700152207vh 1.4705882352941178vw;
  background: #ffffff;
  color: #000000;
  border: 1px solid #000000;
  border-radius: 5vh;
  margin:1.5220700152207vh 0;
}

.boton:hover{
  opacity: .7;
}

.principal h2,
.principal p{
  margin-bottom: 1.5220700152207vh;
}

/* Grilla */

.grilla{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap:1.838235294117647vw;
  margin:1.5220700152207vh 0;
}

.grilla img{
  width: 100%;
  border-radius: 5vh;
}

.grilla h3{
  font-size: 1.25rem;
  margin:1.5220700152207vh 0;
}

.grilla a{
  padding: 1.5220700152207vh 0;
  color:#f2f2f2;
  text-transform: uppercase;
  display:inline-block;
   font-weight: bold;
}

.grilla a:hover{
  text-decoration: underline;
}

.grilla div{
  overflow:hidden;
  transition:all .5s ease-in-out;
}

.grilla div:hover{
  transition:all .5s ease-in-out;
  -webkit-transform:scale(1.1);transform:scale(1.1);
  cursor: pointer;
}

/* subs-Principal 1 */

.sub-principal-uno{
  width: 100%;
  height: 53.272450532724505vh;
  margin-bottom:  6.0882800608828vh;
  position:relative;
}

.sub-principal-uno .imagen,
.sub-principal-uno div{
  width: 100%;
  height: 53.272450532724505vh;
  border-radius: 15vh;
  transition:all .5s ease-in-out;
}

.imagen:hover{
  transition:all .5s ease-in-out;
  filter: blur(5px);
}

.sub-principal-uno .contenedor2{
  width: 40%;
  height: 40%;
  color:#ffffff;
  position: absolute;
  top: 13.698630136986301vh;
  left: 2.2058823529411766vw;
}

.sub-principal-uno p,
.sub-principal-uno h2,{
  margin:1.5625vh 0 2.063983488132095vw 0;
}

/* Sub-Principal 2 */

.sub-principal-dos{
  width: 100%;
  height: 53.272450532724505vh;
  margin-bottom:  6.0882800608828vh;
  border-radius: 15vh;
  background: url("imagenes/vegana.jpeg") no-repeat center center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sub-principal-dos a{
  font-size: 3rem;
}

/* Footer */

.footer{
  width: 90vw;
  margin: auto;
  background-color: #804000
}

.contenedor4{
  display: flex;
  align-items:center;
  justify-content: space-between;
}

.footer-logo{
  width: 7.352941176470588vw;
}

.contenedor4 p{
  font-size: 1rem;
}

.links a{
  margin: 0 1.838235294117647vw;
  font-size: 1.838235294117647vw;
}

/* Media Queries */

@media screen  and (min-width: 780px){
  .sub-principal-uno .contenedor2{top:9.132420091324201vh;left:6.617647058823529vw; }
  .abrir-menu{
    transform: translate(-1500px);
  }
}

@media screen and (min-width: 480px) and (max-width:779px) {
  .grilla{
    grid-template-columns: repeat(2,1fr)
  }
  .sub-principal-uno .contenedor2{
    top:3.8051750380517504vh;
    left:8.088235294117647vw;
  }
  .nav ul.nav-links-center{display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    padding: 2.2058823529411766vw;
    opacity: .9;
    transform: translate(-400px);
    background: #eed09d;
    transition: transform .5s ease-in-out;
  }
  .nav ul.nav-links-center li{
    padding: 3.0441400304414vh;
    border-bottom: #804000 solid 1px;
    font-size: 0.875rem;
  }

  .nav ul.nav-derecha{
    margin-right: 2.9411764705882355vw;
  }
  .logo{
    width: 7.352941176470588vw;
  }
}

@media screen and (max-width:479px) {
  .grilla{
    grid-template-columns: repeat(1,1fr)
  }
  .sub-principal-uno .contenedor2{
    top:3.8051750380517504vh;
    left:8.088235294117647vw;
  }
  .nav ul.nav-links-center{display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    padding: 2.2058823529411766vw;
    opacity: .9;
    transform: translate(-400px);
    background: #eed09d;
    transition: transform .5s ease-in-out;
  }
  .nav ul.nav-links-center li{
    padding: 3.0441400304414vh;
    border-bottom: #804000 solid 1px;
    font-size: 0.875rem;
  }
  .nav ul.nav-derecha{
    margin-right: 2.9411764705882355vw;
  }

  .logo{
    width: 7.352941176470588vw;
  }

}
