@font-face {
  font-family: "Letra"
  src: url("Fuentes/AGENCYB.ttf")
  format("truetype");

}

@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@800&display=swap');

body{
  background-image:url("Imagenes/Filete Stroganoff4.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  background-position:center center;
  background-attachment: fixed;
}

header{
  text-align: center;
  margin-bottom: 2.8776978417266186vh;
  width:97.5vw;
  height: 28.8vh;
}
a:link{
  color: gold;
}
.TituloPrincipal{
  text-align:center;
  font-size:3rem;
  font-family: 'Gemunu Libre',sans-serif;
  background-color:white;
  text-decoration:underline;
}

nav{
  background-color: black;
  width: 97.5vw;
  height: 5.05vh;
}

.Enlace1{
  font-family: "Letra";
  font-size: 1.5rem;
  margin-right: 6.25vw;
}

.Enlace1:visited{
  color:#71d90b;
}

.Enlace1:hover{
  font-family: cursive;
  color:white;
}

.Enlace2{
  font-family: "Letra";
  font-size: 1.5rem;
  margin-right: 6.25vw;
}

.Enlace2:visited{
  color: red;
}

.Enlace2:hover{
  font-family: fantasy;
  color: #BB8FCE;
}

.Enlace3{
  font-family: "Letra";
  font-size: 1.5rem;
  margin-right: 6.25vw;
}

.Enlace3:visited{
  color:yellow;
}

.Enlace3:hover{
  font-family: monospace;
  color:#5DADE2;
}

.Enlace4{
  font-family: "Letra";
  font-size: 1.5rem;
}

.Enlace4:visited{
  color: pink;
}

.Enlace4:hover{
  font-family: sans-serif;
  color:#F5B041;
}

main{
  text-align: center;
  height: 100vh;
  clear: both;
}

.SubTitulo1{
  text-align:center;
  font-family:French Script MT;
  font-size:250%;
  text-decoration:underline;

}

.Padre1{
  text-align: center;
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  grid-gap: 2px;
  grid-auto-rows: 28.776978417266186vh;
}

.Hijo1{
  border: 1px solid black;
  overflow: auto;
  background-color: tomato;
  opacity: 0.75;
}

.SubTitulo2{
  text-align:center;
  font-family:French Script MT;
  font-size:200%;
  text-decoration:underline;
}

.Parrafo1{
  text-align:center;
  color:yellow;
}
.Hijo2{
  height: 57.55395683453237vh;
  border: 1px solid black;
}

.Imagen1{
  height: 57.55395683453237vh;
  width: 48.529411764705884vw;
}

.Hijo3{
  border: 1px solid black;
  background-color: tomato;
  opacity: 0.75;
  overflow: auto;
}

.SubTitulo3{
  text-align:center;
  font-family:French Script MT;
  font-size:200%;
  text-decoration: underline;
}

.Parrafo2{
  text-align:center;
  color:yellow;
}

.Clear{
  clear: both;
  margin-bottom: 0.5755395683453237vh;
}

.Padre2{
  text-align: center;
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  grid-gap: 2px;
  grid-auto-rows: 28.80vh;
}

.Hijo4{
  border: 1px solid black;
  height: 57.55395683453237vh;
}

.Imagen2{
  height: 57.55395683453237vh;
  width: 48.529411764705884vw;
}

.Hijo5{
  border: 1px solid black;
  overflow: auto;
  background-color: tomato;
  opacity: 0.75;
}

.SubTitulo4{
  text-align:center;
  font-family:French Script MT;
  font-size:250%;
  text-decoration:underline;
}
.Ingredientes{
    color:yellow
}

.Hijo6{
}

.Hijo7{
  border: 1px solid black;
  overflow: auto;
  background-color: tomato;
  opacity: 0.75;
}
.SubTitulo5{
  text-align:center;
  font-size:250%;
  font-family:French Script MT;
  text-decoration:underline;
}

.Instrucciones{
  color:yellow;
}

.Padre3{
  text-align: center;
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  grid-gap: 2px;
  grid-auto-rows: 14.3884892086vh;
}

.Hijo8{
}

.SubTitulo6{
  font-size:250%;
  font-family:French Script MT;
  text-decoration:underline;
  background-color: tomato;
  opacity: 0.75;
}

.Hijo9{
  float: right;
}

.SubTitulo7{
  font-size:250%;
  font-family:French Script MT;
  text-decoration:underline;
  background-color: tomato;
  opacity: 0.75;
}

.Hijo10{
  text-align: center;
  border: 1px solid black;
  width: 48.529411764705884vw;
  height: 57.55395683453237vh;
  margin-right: 2px;
}

.Imagen3{
  height: 57.55395683453237vh;
  width: 48.529411764705884vw;
}

.Hijo11{
  text-align: center;
  border: 1px solid black;
  width: 48.529411764705884vw;
  height: 57.55395683453237vh;
  float:left;
}

.Video{
  width: 48.529411764705884vw;
  height: 57.55395683453237vh;
}

.Clear1{
  clear: both;
  margin-bottom: 43.16546762589928vh;
}

.Padre4{
  text-align: center;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 2px;
  grid-auto-rows: 14.3884892086vh;
}

.Hijo12{
  text-align: center;
}

.SubTitulo8{
  text-align:center;
  font-size:250%;
  font-family:French Script MT;
  text-decoration:underline;
  background-color: tomato;
  opacity: 0.75;
}

.Hijo13{
  text-align: center;
  border: 1px solid black;
  width: 48.53vw;
  height: 58.22vh;
  display: block;
  margin:auto;
}

.Mapa{
  border: 1px solid black;
  width: 48.53vw;
  height: 58.22vh;
}

.Clear2{
  clear: both;
  margin-bottom: 51.798561151079134vh;
}

footer{
  clear: both;
  background-color: orange;
  text-align: center;
  height: 28.776978417266186vh;
  opacity: 0.75;
}

.SubTitulo9{
  text-align:center;
  font-size:2.5rem;
  font-family:French Script MT;
  text-decoration:underline;
}

.SubTitulo10{
  font-size:2rem;
  font-family:French Script MT;
  text-decoration:underline;
}

.Correccion{
  font-size: 0.6em;
  font-family: calibri;
}
.Correccion:hover{
  font-size: 1em;
}
.Mail{
  float: left;
  margin-right: 6.61vw;
  margin-left: 14.70vw;
}

.Instagram{
  float: left;
  margin-right: 11.03vw;
  padding-bottom: 4.029vh;
  width: 4.411764705882353vw;
  height: 8.633093525179856vh;
}

.Imagen4{
  width: 100%;
  height: 100%;
}

.Imagen4:hover{
  width: 5.882352941176471vw;
  height: 11.510791366906474vh;
}

.Facebook{
  float: left;
  padding-bottom: 4.029vh;
  width: 4.411764705882353vw;
  height: 8.633093525179856vh;
}

.Imagen5{
  width: 100%;
  height: 100%;
}

.Imagen5:hover{
  width: 5.882352941176471vw;
  height: 11.510791366906474vh;
}

.Whatsapp{
  float: left;
  top: 80%;
  right: 4%;
  position: fixed;
  width: 4.411764705882353vw;
  height: 8.633093525179856vh;
}

.Imagen6{
  width: 100%;
  height: 100%;
}

.Imagen6:hover{
  width: 5.882352941176471vw;
  height: 11.510791366906474vh;
}
